.nav-header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(243, 243, 243);
  height: 70px;
}

@media screen and (max-width: 767px) {
  .nav-header {
    flex-direction: column;
    align-items: center;
    border-bottom-style: none;
  }
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1110px;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .nav-content {
    flex-direction: column;
  }
}
.nav-bar-img {
  width: 30px;
  height: 30px;
}
.order {
  font-size: 18px;
  text-align: end;
  font-weight: bold;
  padding-left: 100px;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.cart-count-badge {
  background-color: #bfdbfe;
  color: #0967d2;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  padding-left: 5px;
  padding-top: 2px;
  padding-right: 5px;
  padding-bottom: 2px;
  margin-left: 0px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .cart-count-badge {
    background-color: #e6f6ff;
  }
}
.nav-link {
  background-color: transparent;
  cursor: pointer;
  margin-left: 2px;
  border-width: 0px;
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logout-desktop-btn {
  color: rgb(22, 21, 21);
  cursor: pointer;
  font-size: 15px;
  margin-left: 2px;
  font-weight: bold;
  border-width: 0px;
  background-color: transparent;
}
.cart-button {
  border-width: 0px;
  background-color: transparent;
  margin-top: 2px;
}
.heading {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #0967d2;
}
